[Desktop Entry]
Version=1.0
Type=Application
Name=Astropipes Viewer
Name[en]=Astropipes Viewer
Comment=FITS Image Viewer for Astronomical Data
Comment[en]=FITS Image Viewer for Astronomical Data
Exec=/home/tan/dev/astropipes/.venv/bin/python /home/tan/dev/astropipes/lib/gui/viewer/index.py %F
Icon=/home/tan/dev/astropipes/lib/legacy/icon.png
Terminal=false
Categories=Science;Astronomy;Education;Graphics;Viewer;
Keywords=astronomy;fits;image;viewer;display;
StartupNotify=true
MimeType=application/fits;image/fits;
MultipleArgs=true 